
 $primary-color: #134601;
 $input-color : rgb(49, 45, 45);

html{
    height: -webkit-fill-available;
}

#root{
    height: 100%;
}
body {
  // color: $primary-color;
  background-color: $primary-color;
  height: 100%;

    .App{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        div:first-child{
            width: 100%;
        }

    
        #logo{
            margin: 0 auto;
            display: block;
        }

        form{
            display: flex;
            justify-content: space-between;
            margin:  auto;
            margin-top: 0.6rem;
            border-radius: 0.8rem;
            background-color: white;
            width: 50%;
            min-width: 15rem;

            padding: 0.5em;

            .loop{
                font-size: 1.5rem;
                font-weight: lighter;
                color : $input-color
            }

            input{
                border: none;
                font-weight: bold;
                border-color: $primary-color;
                padding: 0.5em;
                width: 100%;

            }

            input::placeholder {
                color: $input-color;
                font-weight: bold;
            }

            input:focus{
                outline: none;
            }
        }
    }

    #forecast{
        color: white;
        display: flex;
        height: inherit;
        margin: 0 auto;
        padding: 0 1rem;

        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: auto;

            a{
                color: white;
                width: fit-content;
            }
        }


        .carte{
            padding: 0.2rem 0.5rem;
            background-color: $primary-color;
            border-radius: 0.6rem;
            margin: 1rem;

        }
        
        .return{
            padding: 0.5rem 0.6rem;
            font-size: 1.4rem;
            border-radius: 50%;
            background-color: $primary-color;
            width: max-content;
            margin: 1rem;
        }
        
        .next-week{
            .dayCard{
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 15rem;
                min-width: 15rem;
                margin: 1rem auto;

                img.icone{
                    width: 2.5rem;
                    filter: brightness(0) invert(1);

                }

                .temp{
                    font-size: 1.6rem;
                    margin-left: 2rem;
                }

                .day {
                    text-align: center;
                    font-size: 0.8rem;
                    text-transform: capitalize;

                    span{
                        font-size: 0.6rem;
                        display: block;
                        font-weight: normal;
                    }
                }
            }   
        }

        .current{
            font-weight: bold;
            font-size: 1.5rem;
            width: 20rem;
            max-width: 20rem;

            .today{
                display: flex;
                align-items: center;
                .icone{
                    margin-right: 1.2rem;
                    width: 3rem;
                    padding: 1.2rem;
                    filter: brightness(0) invert(1);


                }
            }

            .details{
                font-size: 0.7rem;
                display: flex;
                margin: 0.5rem 0 2rem;

                ul{
                    list-style-type: none;
                    padding:0 1.2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}



@media (max-width: 618px) {

    #forecast{
        flex-direction: column;

        .left-side {
            margin: 0 auto;

            .return{
                margin-left: 0;
            }
        }   

        .carte{
            margin: 0 !important;
        }

        .dayCard{
            margin: 1rem auto !important;
            min-width: 18rem !important;
            max-width: 20rem !important;
        }
    }
}
  
  